
<div class="row">
	<div class="span6 offset3">

		<h2>Create New Topic</h2>

		<%= form_for @topics do |f| %>

		  <%= f.label :title %>
		  <%= f.text_field :title %>
			<%= f.submit "Create New Topic", class: "btn btn-large btn-primary" %>
			<p>
				<%= f.file_field :image %>
			</p>
			
		<% end %>
		
	</div>
</div>

