<h1><%= @sub_topic.title %></h1>
<div>
  <%= @sub_topic.desc %> 
</div>
<hr>
<div><%= link_to 'Comment', '#' %></div>

<% @sub_topic.comments.each do |comment|%>
<div class="well well-small">
<div class="media">
  <div class="media-body">
    <%= comment.body %> <br>
    <span class="pull-right">
    posted <%= distance_of_time_in_words_to_now(comment.created_at) %> by <%= comment.name %>
    </span>
  </div>
</div>
</div>
<%end%>