
<h1><%= @sub_topic.title %></h1>
<div class="desc">
  <%= @sub_topic.desc %> 
  <p><small>Created By: <%= @sub_topic.created_by %></small></p>
</div>
<hr>

<% @sub_topic.comments.each do |comment|%>
<div class="well well-small">
<div class="media">
  <div class="media-body">
    <%= comment.body %> <br>
    <span class="pull-right">
    posted <%= distance_of_time_in_words_to_now(comment.created_at) %> ago by <%= comment.name %>
    </span>
  </div>
</div>
</div>
<%end%>
<%= render partial: 'comments/comment' %>

